<div class="main">
  <div class="container">

  	<div align="center" style="border:2px solid blue">
		<h2>CRUD Cats</h2>
    	<p>This aplication shows a very simple crud for cats.</p>
    	<%= button_to "List of cats", cats_path, method: :get %>
    	<br>
	</div>
    
    
    
    
  </div>
</div>
